body {
	background-color: #F1F0F0
}

#main {
	width: 80%;
	margin: 5% auto auto auto;
}

#card-container {
	display: flex;
	flex: wrap;
	justify-content: flex-start;
	margin-top: 5%;
	margin-bottom: auto;
}
.card {
	background-color: white ;
	height: 300px;
	width: 300px;
	box-shadow: 2px 2px grey;
	margin-right: 20px;
}

.delete-btn {
	margin-top: 200px;
    margin-left: 220px;
}

h3 {
	text-align: center;
}